/* post.css */
.postmodal {
    width: 100%;
    height: 100%;
}

/* modal.css */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%; /* 너비 조절 */
    max-width: 600px; /* 최대 너비 조절 */
    height: 80%; /* 높이 조절 */
    max-height: 500px; /* 최대 높이 조절 */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999999999999999999;
}
